{% extends 'login/base.html' %}
{% load static %}
{% block title %}Driver Search Ride Result{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    
{% endblock %}


    {% block content %} 
      <div style="width:100%;text-align:center">
{% if request.session.is_login %}

    <h1>Driver Search Result List</h1>
    <h2>Your Search Result</h2>
<table class="table table-bordered">
    <link rel="stylesheet" href="{% static 'css/rideTable.css' %}">
        <thead>
          <tr>

      <th><div style="width:100%;text-align:center">Date</th>
      <th><div style="width:100%;text-align:center">Time</th>
      <th><div style="width:100%;text-align:center">Start Point</th>
      <th><div style="width:100%;text-align:center">End Point</th>
      <th><div style="width:100%;text-align:center">Number of Passengers</th>
      <th><div style="width:100%;text-align:center">Special Text</th>
        <th></th>
          </tr>
        </thead>
        <tbody>
  {% for ride in driver_ride_search_result %}
    <tr>
      <td>{{ride.date}}</td>
      <td>{{ride.time}}</td>
      <td>{{ride.startPoint}}</td>
      <td>{{ride.endPoint}}</td>
      <td>{{ride.memberNumber}}</td>
      <td>{{ride.specialText}}</td>
      <td><form method="GET"> 
      <button type="submit" name = "confirm_search_ride" class="btn btn-primary" value = {{ride.id}}>Confirm</button>
      </form></td>
    </tr>
    {% endfor %}
        </tbody>
      </table>    
      
      <form method="GET"> 
      <button type="submit" name = "driver_search_back" class="btn btn-primary" value = {{ride.id}}>Back</button>
      </form>
      
      
      
      {% else %}
    <h1><div style="width:100%;text-align:center">You are not login, please do that!</h1>
    {% endif %}
    {% endblock %}