{% extends 'login/base.html' %} <!-- inheritance base -->

{% load static %}
{% block title %}edit Ride{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
{% if request.session.is_login %}
  <div style="width:100%;text-align:center">
<h1>DiDi Start Ride Edit System</h1>
<h2>Edit ride!</h2>
</div>

        <h3>Your original ride Information:</h3>
  <table class="table table-bordered">
    <link rel="stylesheet" href="{% static 'css/rideTable.css' %}">
        <thead>
          <tr>

      <th><div style="width:100%;text-align:center">date</th>
      <th><div style="width:100%;text-align:center">time</th>
      <th><div style="width:100%;text-align:center">start Point</th>
      <th><div style="width:100%;text-align:center">end Point</th>
      <th><div style="width:100%;text-align:center">Member Number</th>
      <th><div style="width:100%;text-align:center">Special Text</th>
      <th><div style="width:100%;text-align:center">Sharable?</th>

          </tr>
        </thead>
        <tbody>
    <tr>

      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.date}}</td>
      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.time}}</td>
      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.startPoint}}</td>
      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.endPoint}}</td>
      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.memberNumber}}</td>
      <td><div style="width:100%;text-align:center">{{to_be_edit_ride.specialText}}</td>
       <td><div style="width:100%;text-align:center">{{to_be_edit_ride.isSharable}}</td>
    </tr>
        </tbody>
      </table>
        <div style="width:100%;text-align:center">
      <h3>Your upadated ride Information:</h3>
      </div>
    <div class="col-md-4 col-md-offset-4">
  <form method="POST" class="form-group">

    {% csrf_token %}
    <div class="form-group">
    {{ ride_form.date.label_tag }}
    {{ ride_form.date}}
    </div>
    <div class="form-group">
    {{ ride_form.time.label_tag }}
    {{ ride_form.time}}
    </div>
    <div class="form-group">
    {{ ride_form.startPoint.label_tag }}
    {{ ride_form.startPoint}}
    </div>
    <div class="form-group">
    {{ ride_form.endPoint.label_tag }}
    {{ ride_form.endPoint}}
    </div>
    <div class="form-group">
    {{ ride_form.memberNumber.label_tag }}
    {{ ride_form.memberNumber}}
    </div>
    <div class="form-group">
    {{ ride_form.specialText.label_tag }}
    {{ ride_form.specialText}}
    </div>

    <button type="submit" class="btn btn-primary">save ride</button>
  </form>  

  </div>
      {% else %}
    <h1>You are not login, please do that</h1>
    {% endif %}
{% endblock %}