{% extends 'login/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
  <div style="width:100%;text-align:center">

<h1>Welcome to Join Ride!</h1>
<br/>
<br/>
<br/>
</div>
  <div style="width:100%;text-align:center">
<div class="col-md-4 col-md-offset-4">
  {% if request.session.is_login %}
  <h1>Please enter your join number<h1>
  <form method="POST" class="form-group">
      {% csrf_token %}
    {{join_form.as_p}}
    <button type="submit" class="btn btn-primary" name="join_ride">Join</button>
  </form> 
</div>
</div>
      {% else %}
    <h1>You are not login, please do that</h1>
    {% endif %}
{% endblock %}
