{% extends 'login/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
DiDi login system
  <form method="POST" class="form-group">
    {% csrf_token %}
    {{user_form.as_p}}
<div class="form-group">
  {{ login_form.username.label_tag }}
  {{ login_form.username}}
</div>
<div class="form-group">
  {{ login_form.password.label_tag }}
  {{ login_form.password }}
</div>
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {%endif%}
    <button type="submit" class="btn btn-primary" name="login">login</button>

  </form> 
  <form method="GET"> 
      <button type="submit" class="btn btn-primary" name="register">register</button>
</form> 
{% endblock %}